<main>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>{{ MESSAGES.TITLE.WEBSITE_TITLE }}</h1>
    <div class="form-field-name">
      <mat-icon>email</mat-icon><span>{{ MESSAGES.LABEL.ADMIN_EMAIL }}</span>
    </div>
    <mat-form-field>
        <mat-label>{{ MESSAGES.LABEL.ADMIN_EMAIL }}</mat-label>
        <input type="email" formControlName="email" matInput placeholder="Enter your email address" required />
        @if (formControls['email'].hasError('email')) {
          <mat-error>{{ MESSAGES.ERRORS.INVALID_EMAIL_ERROR }}</mat-error>
        } @else if (formControls['email'].hasError('required')) {
          <mat-error>{{ MESSAGES.ERRORS.EMAIL_REQUIRED_ERROR }}</mat-error>
        }
    </mat-form-field>

    <div class="form-field-name">
      <mat-icon>lock</mat-icon><span>{{ MESSAGES.LABEL.ADMIN_PASSWORD }}</span>
    </div>
    <mat-form-field>
      <mat-label>{{ MESSAGES.LABEL.ADMIN_PASSWORD }}</mat-label>
        <input type="password" formControlName="password" matInput placeholder="Enter your password" required />
         @if (formControls['password'].hasError('required')) {
          <mat-error>{{ MESSAGES.ERRORS.PASSWORD_REQUIRED_ERROR }}</mat-error>
        }
    </mat-form-field>

    @if (serverError()) {
      <mat-error class="server-error">{{ serverError() }}</mat-error>
    }

    <div class="form-buttons">
      <button type="submit" class="login">{{ MESSAGES.BUTTON.LOGIN_TEXT }}</button>
      <button type="reset" class="clear" (click)="onReset()">{{ MESSAGES.BUTTON.CLEAR_TEXT }}</button>
    </div>

    <a [routerLink]="['']" class="pd-link">{{ MESSAGES.LINK.GUEST_LOGIN }}</a>
  </form>
</main>