@if (data.type === 'not-available') {
  <h2 mat-dialog-title>Currently not available</h2>
  <mat-dialog-content>
    <p>
      {{ MESSAGES.COMMON.UNDER_DEV_TEXT }}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-dialog-close class="close-button">{{ MESSAGES.BUTTON.CLOSE_TEXT }}</button>
  </mat-dialog-actions>
} @else {
  <h2 mat-dialog-title>{{ MESSAGES.TITLE.ERROR_TITLE }}</h2>
  <mat-dialog-actions>
    <button mat-dialog-close class="close-button">{{ MESSAGES.BUTTON.CLOSE_TEXT }}</button>
  </mat-dialog-actions>
}