@use './styles/variables' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $color-bg-main;
  font-family: Arial, Helvetica, sans-serif;
}

.pd-mat-icon {
    color: $color-primary;

    &:hover {
      color: $color-primary-hover;
      cursor: pointer;
    }
  }