// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './styles/variables' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  @include mat.dialog-overrides((
    container-color: $color-bg-elevated,
    subhead-color: $text-primary,
    supporting-text-color: $text-primary,
    container-shape: 1rem
  ));
  @include mat.menu-overrides((
    container-color: $color-bg-surface,
    container-shape: 0,
    item-label-text-color: $text-primary,
    container-elevation-shadow: $shadow-soft,
    item-icon-color: $text-primary,
    item-hover-state-layer-color: $color-bg-elevated
  ));
  @include mat.slide-toggle-overrides((
    selected-track-color: $color-primary,
    selected-focus-track-color: $color-primary-muted
  ))
}

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  background-color: $color-bg-main;
  color: $text-primary;
  font-family: Arial, Helvetica, sans-serif;
}

.pd-mat-icon {
  color: $color-primary;

  &:hover {
    color: $color-primary-hover;
    cursor: pointer;
  }
}

.loading {
  cursor: wait !important;
}