@use '../../../../../styles/mixins' as *;

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

mat-error {
  margin-left: -12px;
}

.save-button {
  @include pd-button-primary;
  margin-right: 8px;
}

.close-button {
  @include pd-button-neutral;
}

@media screen AND (min-width: 0) {
  form {
    width: 300px;
    height: auto;
  }
}

@media screen AND (min-width: 600px) {
  mat-dialog-content {
    gap: 12px;
  }

	form {
		width: 400px;
	}
}