@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.device-card {
  @include device-card();

  button {
    appearance: none;
    background-color: $button-bg-primary;
    border: none;
    border-radius: 4px;
    padding: 12px 0;
    color: $button-text;

    &:hover {
      background-color: $button-bg-primary-hover;
      cursor: pointer;
    }
  }
}