<main>
  <div class="top">
    <h1>{{ MESSAGES.TITLE.DEVICES_DASHBOARD_TITLE }}</h1>
    <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>{{ MESSAGES.BUTTON.YOUR_ACCOUNT_TEXT }}</button>
      <button mat-menu-item class="log-out" (click)="logout()">{{ MESSAGES.BUTTON.LOGOUT_TEXT }}</button>
    </mat-menu>
  </div>

  @if (isLoading()) {
    <pd-spinner height="75vh" loadTitle="devices"></pd-spinner>
  } @else {
    <section class="devices-container">  
      @if (devices().length <= 0) {
        <p>{{ MESSAGES.DEVICE.NO_DEVICES_TEXT }}</p>
      } @else {
        @for (device of devices(); track device.id) {
          <device-card [device]="device"></device-card>
        }
      }
    </section>

    <button (click)="openDialog()" id="add-device-button">{{ MESSAGES.BUTTON.ADD_DEVICE_TEXT }}</button>
  }
</main>