@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

@media screen AND (min-width: 0px) {
  .devices-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
}

@media screen AND (min-width: 600px) {
  .devices-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen AND (min-width: 1400px) {
  .devices-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

main {
  @include responsive-padding;
  color: $text-primary;
  width: 100%;

  button {
    @include pd-button-primary;
    margin-top: 2rem;
  }
}

.devices-container {
  margin-top: 2rem;
}