@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

@media screen AND (min-width: 0px) {
  .devices-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
}

@media screen AND (min-width: 600px) {
  .devices-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen AND (min-width: 1400px) {
  .devices-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

main {
  @include responsive-padding();
  color: $text-primary;
  width: 100%;

  button {
    appearance: none;
    border: none;
    background-color: $button-bg-primary;
    color: $button-text;
    padding: 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 2rem;

    &:hover {
      background-color: $button-bg-primary-hover
    }
  }
}

.devices-container {
  margin-top: 2rem;
}