{% extends 'layout.html' %} {% block title %} PottyDog {% endblock %} 
{% block body %}
<h1>PottyDog Application</h1>

{% if userData %}
<p>You are logged in! You can now head over to the dashboard page!</p>
{% else %}
<p>Please register or login to continue.</p>
{% endif %}

<div class="row">
  <form action="/register" method="get">
    <button type="submit">Register</button>
  </form>

  <form action="/login" method="get">
    <button type="submit">Login</button>
  </form>

  {% if userData %}
  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>

  <form method="GET" action="/dashboard">
    <button type="submit">Dashboard</button>
  </form>
  {% endif %}
</div>
{% endblock %}
