{% extends 'layout.html' %} 
{% block title %} Potty Activity {% endblock %} 

{% block body %} 
{% include 'header.html' %}

<div class="container mt-5">

	<div class="d-flex align-items-center justify-content-between">
		<h1 class="mb-4 fw-semibold">Potty Activity</h1>
		<a href="/dashboard" class="btn btn-outline-dark btn-sm">Back to dashboard</a>
	</div>

  <!-- Date -->
  <form method="GET" action="{{ url_for('potty_activity') }}">
    <div class="card mb-4 shadow-sm border-start border-1 border-info">
      <div class="card-body">
        <div class="row g-3 align-items-end">
          <div class="col-md-4">
            <label for="activityDate" class="form-label fw-semibold text-info">
              Select date
            </label>
            <input
              type="date"
              class="form-control"
              id="activityDate"
              name="date"
              value="{{ request.args.get('date', '') }}"
            />
          </div>

          <div class="col-md-3">
            <button type="submit" class="btn btn-outline-dark w-100">
              View activity
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Activiity feed -->
  {% set type_classes = { 
    'pee': 'success', 
    'poop': 'danger', 
    'both': 'primary',
    'other': 'secondary' 
  } %}

  <div class="d-flex flex-column gap-3">
    {% if logs %} 
      {% for log in logs %} 
        {% set color = type_classes.get(log.potty_type.lower(), 'secondary') %}

        <div class="card shadow-sm border-start border-1 border-{{ color }}">
          <div class="card-body py-3 d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
              <span class="badge bg-{{ color }} mb-1">{{ log.potty_type | capitalize }}</span>
              <div class="small text-muted">
                {{ log.logged_at.strftime('%d %b · %H:%M') }}
              </div>
            </div>

            {% if log.notes != 'N/A' %}
              <button
                type="button"
                class="btn btn-sm btn-outline-dark"
                data-bs-toggle="modal"
                data-bs-target="#notesModal-{{ loop.index }}"
              >
                View notes
              </button>

              <div
                class="modal fade"
                id="notesModal-{{ loop.index }}"
                tabindex="-1"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title fw-semibold">Notes</h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <p class="mb-0 text-muted">{{ log.notes }}</p>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %} 
    {% else %}
      <h2 class="fw-bold mb-2">No activity logged for this day!</h2>
    {% endif %}
  </div>

  <div class="modal fade" id="notesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-semibold">Notes</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body">
          <p class="mb-0 text-muted">Modal tings</p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %} 
{% endblock %}