@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

@media screen AND (min-width: 0) {
  .video-container {
    height: 30%;
  }
}

@media screen AND (min-width: 600px) {
  .video-container {
    height: 50%;
  }
}

@media screen AND (min-width: 1400px) {
  .video-container {
    height: 75%;
  }
}

main {
  @include responsive-padding();
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  height: 100vh;
}

.video-container {
  width: 100%;
  align-items: flex-end;

  .camera-tools {
    background-color: $color-bg-elevated;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;

    mat-icon {
      margin-right: 8px;
      transform: scale(1.1);
      color: $text-primary;
    }
  }
}