@if(device()) {
<main>
  @if (this.isLoading()) {
  <pd-spinner loadTitle="device"></pd-spinner>
  } @else {
  <div class="video-container">
    <camera-view [hasCamera]="device().hasCamera" [isOffline]="device().isOffline" [height]="'90%'"></camera-view>

    <div class="camera-tools">
      <div class="tool-slide-toggle">
        <p>
          <mat-slide-toggle labelPosition="before">
            <mat-icon>videocam</mat-icon>
          </mat-slide-toggle>
        </p>
      </div>
    </div>
  </div>

  <div class="buttons-container">
    <pd-button class="button" [text]="'Back to dashboard'" [routerLink]="['/dashboard']"></pd-button>
  </div>
  }
</main>
} @else {
<h1>No device</h1>
}