@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.slide-toggle-icon {
  color: $text-primary;
}

main {
  @include responsive-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .device-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 840px;

    .video-container {
      .camera {
        display: block;
      }

      .camera-tools {
        background-color: $color-bg-elevated;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        .left {
          display: flex;
          flex-direction: row;
          gap: 8px;

          mat-icon {
            color: $text-primary;
          }
        }
      }
    }

    .device-footer {
      button {
        @include pd-button-primary;
      }
    }
  }
}

@media screen AND (min-width: 0px) {
  main {
    height: 100vh;

    .device-container {
      gap: 2rem;

      .video-container {
        .camera {
          height: 320px;
        }
      }
    }
  }
}

@media screen AND (min-width: 1024px) {
  main {
    height: 100vh;

    .device-container {
      gap: 2rem;

      .video-container {
        .camera {
          height: 400px;
        }
      }
    }
  }
}