@if (device()) {
  <main>
    @if (this.isLoading()) {
      <pd-spinner loadTitle="device"></pd-spinner>
    } @else {
      <div class="device-container">
        <div class="device-header">
          <h2>{{ device().name }}</h2>
        </div>

        <div class="video-container">
          <camera-view
            [hasCamera]="device().hasCamera"
            [isOffline]="device().isOffline"
            class="camera"
          ></camera-view>
          <div class="camera-tools">
            <div class="left">
              <div class="tool-slide-toggle">
                <p>
                  <mat-slide-toggle
                    labelPosition="before"
                    [disabled]="device().hasCamera ? false : true"
                  >
                    <mat-icon class="slide-toggle-icon">videocam</mat-icon>
                  </mat-slide-toggle>
                </p>
              </div>

              <div class="tool-slide-toggle">
                <p>
                  <mat-slide-toggle labelPosition="before">
                    <mat-icon class="slide-toggle-icon">microphone</mat-icon>
                  </mat-slide-toggle>
                </p>
              </div>
            </div>

            <div class="right">
              <mat-icon [matMenuTriggerFor]="menu" #menuTrigger>settings</mat-icon>
              <mat-menu class="pd-mat-menu" #menu="matMenu">
                <button mat-menu-item (click)="openDialog('edit')">Edit device</button>
                <button mat-menu-item class="delete-device" (click)="openDialog('delete')">
                  <span>Delete device</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>

        <div class="device-footer">
          <button class="back-button" [routerLink]="['/dashboard']">Back to dashboard</button>
        </div>
      </div>
    }
  </main>
} @else {
  <h2>No device</h2>
}
