<form>
	<h2 mat-dialog-title>{{ MESSAGES.BUTTON.ADD_DEVICE_TEXT }}</h2>

	<mat-dialog-content>
		<mat-form-field>
			<mat-label>{{ MESSAGES.LABEL.DEVICE_NAME_LABEL}}</mat-label>
			<input matInput formControlName="deviceName" type="text" [placeholder]="MESSAGES.PLACEHOLDERS.DEVICE_NAME_PLACEHOLDER" required />
		</mat-form-field>

		<mat-form-field>
			<mat-label>{{ MESSAGES.LABEL.DEVICE_LOCATION_LABEL }}</mat-label>
			<input matInput formControlName="location" type="text" [placeholder]="MESSAGES.PLACEHOLDERS.DEVICE_LOCATION_PLACEHOLDER" required />
		</mat-form-field>
	</mat-dialog-content>

	<mat-dialog-actions>
		<button class="add" type="submit">{{ MESSAGES.BUTTON.ADD_DEVICE_TEXT }}</button>
		<button class="close" mat-dialog-close type="button">{{ MESSAGES.BUTTON.CLOSE_TEXT }}</button>
	</mat-dialog-actions>
</form>