<form>
	<h2 mat-dialog-title>Add device</h2>

	<mat-dialog-content>
		<mat-form-field>
			<mat-label>Device name</mat-label>
			<input matInput formControlName="deviceName" type="text" placeholder="Enter a new device name" required />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Location</mat-label>
			<input matInput formControlName="location" type="text" placeholder="Enter location for this device" required />
		</mat-form-field>
	</mat-dialog-content>

	<mat-dialog-actions>
		<button class="add" type="submit">Add device</button>
		<button class="close" mat-dialog-close type="button">Close</button>
	</mat-dialog-actions>
</form>